body {
  /* スクロールバー出てほしくないので */
  overflow: hidden;
}

#kaihatsumap{
border-width: 5px;
border-style: solid;
border-color: #00FFFF80;
}


.CharaShadow{
/* https://developer.mozilla.org/ja/docs/Web/CSS/filter-function/drop-shadow */
filter: drop-shadow(10px -3px 2px #00FFFF);
}

.fadeIn {
/*https://coco-factory.jp/ugokuweb/css02/*/
animation-name: fadeInAnime;
animation-fill-mode:forwards;
animation-duration:0.5s;
/*animation-iteration-count:infinite;*/
/*animation-timing-function:ease;*/
/*animation-delay: 0s;*/
/*animation-direction:normal;*/
}
.fadeIn3 {
  animation-name: fadeInAnime;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

@keyframes fadeInAnime{
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeInL {
  animation-name: fadeInAnimeL;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

@keyframes fadeInAnimeL{
  0% {
    opacity: 0;
    transform: scale(-1, 1) translateX(300px);
  }

  100% {
    opacity: 1;
    transform: scale(-1, 1) translateX(0px);
  }
}

.fadeInX1 {
animation-name: fI1;
animation-fill-mode:forwards;
animation-duration:1s;
}

@keyframes fI1{
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeOutX1 {
animation-name: fO1;
animation-fill-mode:forwards;
animation-duration:1s;
}

@keyframes fO1{
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}

/************************************/

.kwnd2menu {
animation-name: kwnd2ma1;
animation-fill-mode:forwards;
animation-duration:0.3s;
}

@keyframes kwnd2ma1{
  0% {
    left:-150px;
    background: #008;
  }

  100% {
    left:0px;
    background: #00F;
  }
}

.kwnd2In {
animation-name: k02I;
animation-fill-mode:forwards;
animation-duration:0.3s;
}
@keyframes k02I{
  0% {
    opacity: 0;
    transform: skewX(-20deg) translateY(500px);
  }

  100% {
    opacity: 1;
    transform: skewX(-20deg) translateY(0px);
  }
}

.kw2fin {
animation-name: k02I2;
animation-fill-mode:forwards;
}
@keyframes k02I2{
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

#kwnd2cur {
  animation-name: flashing;
  animation-duration: 1.0s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes flashing {
  0% {
    border: 5px solid #0000FF;
  }
  50% {
    border: 5px solid #000080;
  }
  100% {
    border: 5px solid #0000FF;
  }
}

.kwnd2u1 {
animation-name: k2u1;
animation-fill-mode:forwards;
animation-duration:0.3s;
}

@keyframes k2u1 {
  0% {
    transform: translateX(0px);
    width: 400px;
  }
  100% {
    transform: translateX(-500px);
    width: 0px;
  }
}

.kwnd2u2 {
animation-name: k2u2;
animation-fill-mode:forwards;
}

@keyframes k2u2 {
  0% {
    transform: translateY(-200px);
    opacity:0;
  }
  100% {
    transform: translateY(0px);
    opacity:1;
  }
}

/******************************************************/

.enemyMline {
  stroke-dasharray:1000px;
  animation:aline_move 3s infinite;
  stroke:rgb(255, 0, 0);
  stroke-width:10;
  stroke-opacity: 0.2;
}

.attackline {
  stroke-dasharray:1000px;
  animation:aline_move 3s infinite;
  stroke:#0f0;
  stroke-width:10;
  stroke-opacity: 0.2;
}

@keyframes aline_move {
  0% {stroke-dashoffset:1000px;
    stroke-opacity: 0.2;}
  100% {stroke-dashoffset:0px;
    stroke-opacity: 0.8;}
}